body {
  background-color: #252526;
  color: #F1F1F1; }

.ui.menu {
  background-color: #1B1B1C; }

.icon-color {
  color: #3F3F46; }

a {
  color: #007ACC; }

h1, h2.ui.header, h3.ui.header, h3.ui, p {
  color: #F1F1F1; }
